Repository kamiazya/scopes: changes, and which lefthook commands are due for each by the changed paths.
All: editorconfig, spotless, detekt, kotlin-test

lefthook.yml:

# Lefthook configuration for Scopes project
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    editorconfig:
      glob: "*"
      exclude: '.claude/.*|tmp/.*|LICENSE|gradle/verification-metadata.xml'
      run: |
        docker run --rm -v "$(pwd):/workspace" \
          -w /workspace \
          mstruebing/editorconfig-checker:latest \
          ec --exclude LICENSE --exclude gradle/verification-metadata.xml \
          {staged_files} || true
      skip:
        - merge
        - rebase

    spotless:
      glob: "**/*.{kt,kts,json,yml,yaml,md,sh}"
      run: ./gradlew spotlessApply --daemon
      stage_fixed: true
      skip:
        - merge
        - rebase

    detekt:
      glob: "**/*.kt"
      run: ./gradlew detekt --daemon
      skip:
        - merge
        - rebase

    kotlin-test:
      glob: "**/*.kt"
      run: ./gradlew test --daemon
      skip:
        - merge
        - rebase

# Claude Code integration - runs after file edits
post-tool-use-edit:
  parallel: true
  commands:
    spotless-format:
      glob: "**/*.{kt,kts,json,yml,yaml,md,sh}"
      run: |
        echo "üîß Auto-formatting file: {files}"
        ./gradlew spotlessApply --daemon --quiet
        echo "‚úÖ Spotless formatting completed"
    detekt-check:
      glob: "**/*.kt"
      run: |
        echo "üîç Running Detekt analysis with auto-correction"
        ./gradlew detekt -Pdetekt.autoCorrect=true --daemon --quiet || true
        echo "‚úÖ Detekt analysis completed"
    # Optional: Run tests for the affected module only
    module-test:
      glob: "**/*.kt"
      run: |
        # Extract module from file path and run tests for that module only
        MODULE_PATH=$(echo "{file}" | cut -d'/' -f1)
        if [ -f "$MODULE_PATH/build.gradle.kts" ]; then
          echo "Running tests for module: $MODULE_PATH"
          ./gradlew :$MODULE_PATH:test --daemon --quiet
        else
          echo "No module found for {file}, skipping tests"
        fi

# Skip hooks during CI/CD
skip_output:
  - meta
  - success

Further reduce code duplication in ApplicationErrorMapper by adding helper methods
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
Due: editorconfig, spotless, detekt, kotlin-test

test: Fix CreateContextViewUseCaseTest by adding missing repository mock
  contexts/scope-management/application/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/context/CreateContextViewUseCaseTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Address AI review comments and fix documentation issues
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/service/ValidationService.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/Aspects.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/HierarchyPolicy.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/Pagination.kt
  docs/explanation/contracts.md
  docs/explanation/security/README.md
  docs/explanation/setup/README.md
  docs/guides/development-guidelines.md
  docs/guides/development/README.md
  docs/guides/development/dto-guidelines.md
  docs/guides/development/error-handling.md
  docs/guides/development/testing.md
  docs/guides/use-case-style-guide.md
  docs/reference/api/alias-api-reference.md
  docs/reference/api/aspect-api-reference.md
Due: editorconfig, spotless, detekt, kotlin-test

fix: Remove test files that violate architecture constraints
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/AliasCommandAdapterIntegrationTest.kt
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/AliasQueryAdapterIntegrationTest.kt
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/AspectCommandAdapterIntegrationTest.kt
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/AspectQueryAdapterIntegrationTest.kt
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/ContextCommandAdapterIntegrationTestSimple.kt
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/ScopeCommandAdapterIntegrationTest.kt
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/ScopeQueryAdapterIntegrationTest.kt
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/helpers/TestPortImplementations.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: reduce code duplication in ApplicationErrorMapper
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: Reduce cognitive complexity in ErrorMessageMapper
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/mappers/ErrorMessageMapper.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Exclude test files from interfaces layer infrastructure dependency check
  quality/konsist/src/test/kotlin/io/github/kamiazya/scopes/konsist/DependencyRulesTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Improve error handling based on AI review feedback
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/context/CreateContextViewHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ErrorMappingExtensions.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ScopeInputError.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ScopeInputErrorMappingService.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/util/InputSanitizer.kt
Due: editorconfig, spotless, detekt, kotlin-test

style: Apply code style improvements and unused variable cleanup
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/aspect/DefineAspectHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/aspect/DeleteAspectDefinitionHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/aspect/UpdateAspectDefinitionHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/query/handler/aspect/ListAspectDefinitionsHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/query/handler/context/GetFilteredScopesHandler.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/Aspects.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/Pagination.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: reduce code duplication in ApplicationErrorMapper
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/AddAliasHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/DeleteScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/RemoveAliasHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/RenameAliasHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/SetCanonicalAliasHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/UpdateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Resolve error handling issues across codebase (#245)
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementModule.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/UpdateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/aspect/DefineAspectHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/aspect/DeleteAspectDefinitionHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/aspect/UpdateAspectDefinitionHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/context/CreateContextViewHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ErrorMappingExtensions.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ScopeInputError.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ScopeInputErrorMappingService.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/AspectTypeMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/query/handler/aspect/GetAspectDefinitionHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/query/handler/aspect/ListAspectDefinitionsHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/query/handler/context/GetFilteredScopesHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/util/InputSanitizer.kt
  contexts/scope-management/application/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/context/CreateContextViewUseCaseTest.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/error/ScopesError.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/error/ValidationError.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/service/validation/AspectValueValidationService.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/Aspects.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/ContextViewFilter.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/Pagination.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/AspectCommandPortAdapter.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/AspectQueryPortAdapter.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ScopeManagementCommandPortAdapter.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/event/NoOpDomainEventPublisher.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/repository/InMemoryActiveContextRepository.kt
  contracts/scope-management/src/main/kotlin/io/github/kamiazya/scopes/contracts/scopemanagement/commands/DeleteScopeCommand.kt
  contracts/scope-management/src/main/kotlin/io/github/kamiazya/scopes/contracts/scopemanagement/errors/ScopeContractError.kt
  interfaces/cli/build.gradle.kts
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/ScopeCommandAdapter.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/core/ScopesCliktCommand.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/mappers/ContractErrorMessageMapper.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/mappers/ErrorMessageMapper.kt
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/ContextCommandAdapterIntegrationTestSimple.kt
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/helpers/TestDataBuilders.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/DefaultErrorMapper.kt
  quality/konsist/src/test/kotlin/io/github/kamiazya/scopes/konsist/DependencyRulesTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

feat: Implement ScopeAggregate refactoring with event sourcing
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandlerV2.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/aggregate/ScopeAggregate.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/error/ScopeError.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/event/AliasEvents.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/event/ScopeEvents.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/extensions/EventSourcingRepositoryExtensions.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/Aspects.kt
  contexts/scope-management/domain/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/aggregate/ScopeAggregateTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: remove Clean Architecture violations in error handling
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementModule.kt
  apps/scopes/src/test/kotlin/io/github/kamiazya/scopes/apps/cli/integration/AspectManagementIntegrationTest.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/UpdateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ContextErrorPresenter.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/DomainErrorMappingExtensions.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ErrorMappingExtensions.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ScopeInputErrorMappingService.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ScopeInputErrorPresenter.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/AspectTypeMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/util/InputSanitizer.kt
  contexts/scope-management/application/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/context/CreateContextViewUseCaseTest.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ErrorMapper.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: Reduce cognitive complexity in ErrorMessageMapper
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/BaseCommandHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/UpdateScopeHandler.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: Extract getErrorClassName to shared utility to reduce duplication
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/BaseCommandHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/ErrorUtilityMethods.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/query/handler/BaseQueryHandler.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Remove serialization dependencies from contracts layer
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/dto/scope/CreateScopeCommand.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/UpdateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/dto/scope/CreateScopeResult.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ErrorMappingExtensions.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/AspectTypeMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ScopeMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/util/InputSanitizer.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/error/ScopeAliasError.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/service/alias/ScopeAliasPolicy.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ErrorMapper.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ScopeManagementCommandPortAdapter.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/repository/SqlDelightScopeAliasRepository.kt
  contexts/scope-management/infrastructure/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/repository/SqlDelightScopeAliasRepositoryTest.kt
  contracts/scope-management/src/main/kotlin/io/github/kamiazya/scopes/contracts/scopemanagement/commands/CreateScopeCommand.kt
  contracts/scope-management/src/test/kotlin/io/github/kamiazya/scopes/contracts/scopemanagement/ContractTypesTest.kt
  docs/explanation/contracts.md
  docs/guides/development/dto-guidelines.md
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/ScopeCommandAdapter.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/commands/CreateCommand.kt
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/helpers/TestDataBuilders.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeCreateToolHandler.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/integration/McpServerIntegrationTest.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeCreateToolHandlerTest.kt
  quality/konsist/src/test/kotlin/io/github/kamiazya/scopes/konsist/CqrsNamingConventionTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: Apply AI review suggestions from PR #256
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandler.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/repository/SqlDelightScopeAliasRepository.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Remove serialization dependencies from contracts layer (#256)
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/dto/scope/CreateScopeCommand.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/UpdateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/dto/scope/CreateScopeResult.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ErrorMappingExtensions.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/AspectTypeMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ScopeMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/util/InputSanitizer.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/error/ScopeAliasError.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/service/alias/ScopeAliasPolicy.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ErrorMapper.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ScopeManagementCommandPortAdapter.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/repository/SqlDelightScopeAliasRepository.kt
  contexts/scope-management/infrastructure/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/repository/SqlDelightScopeAliasRepositoryTest.kt
  contracts/scope-management/src/main/kotlin/io/github/kamiazya/scopes/contracts/scopemanagement/commands/CreateScopeCommand.kt
  contracts/scope-management/src/test/kotlin/io/github/kamiazya/scopes/contracts/scopemanagement/ContractTypesTest.kt
  docs/explanation/contracts.md
  docs/guides/development/dto-guidelines.md
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/ScopeCommandAdapter.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/commands/CreateCommand.kt
  interfaces/cli/src/test/kotlin/io/github/kamiazya/scopes/interfaces/cli/helpers/TestDataBuilders.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeCreateToolHandler.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/integration/McpServerIntegrationTest.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeCreateToolHandlerTest.kt
  quality/konsist/src/test/kotlin/io/github/kamiazya/scopes/konsist/CqrsNamingConventionTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

feat: Implement ES decision + RDB projection pattern with EventProjector
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementInfrastructureModule.kt
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementModule.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandlerV2.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/DeleteScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/UpdateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/dto/scope/DeleteScopeResult.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/dto/scope/UpdateScopeResult.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ErrorMappingExtensions.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ScopeManagementApplicationError.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/AspectTypeMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ScopeMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/port/EventProjector.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/util/InputSanitizer.kt
  contexts/scope-management/application/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandlerTest.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/aggregate/ScopeAggregate.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/error/ScopeError.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/event/AliasEvents.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/extensions/EventSourcingRepositoryExtensions.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/repository/ScopeAliasRepository.kt
  contexts/scope-management/domain/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/aggregate/ScopeAggregateTest.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ErrorMapper.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ScopeManagementCommandPortAdapter.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/factory/EventSourcingRepositoryFactory.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/projection/EventProjector.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/repository/InMemoryScopeAliasRepository.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/repository/SqlDelightScopeAliasRepository.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/serialization/ScopeEventMappers.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/serialization/ScopeEventSerializerHelpers.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/serialization/ScopeEventSerializers.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/serialization/ScopeEventSerializersModule.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/serialization/SerializableScopeEvents.kt
  contexts/scope-management/infrastructure/src/main/sqldelight/io/github/kamiazya/scopes/scopemanagement/db/ScopeAlias.sq
Due: editorconfig, spotless, detekt, kotlin-test

Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: editorconfig

Add Contributor Covenant Code of Conduct (#257)
  CODE_OF_CONDUCT.md
Due: editorconfig

interfaces/mcp: use arrayProperty + itemsObject DSL for array schemas (roots/children/aliases)
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/McpModule.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/resources/handlers/ScopeDetailsResourceHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/resources/handlers/TreeJsonResourceHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/resources/handlers/TreeMarkdownResourceHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/DefaultErrorMapper.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/McpUriConstants.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/SchemaDsl.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/AliasesAddToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeChildrenToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeCreateToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeDeleteToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeUpdateToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopesListAliasesToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopesRootsToolHandler.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: Implement EventProjector → EventPublisher pattern and fix Konsist violations
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementInfrastructureModule.kt
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementModule.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/DeleteScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/UpdateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ScopeMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/port/EventPublisher.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/aggregate/ScopeAggregate.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/error/ScopeError.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/projection/EventProjectionService.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/serialization/ScopeEventSerializerHelpers.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/serialization/ScopeEventSerializers.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/serialization/ScopeEventSerializersModule.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/serialization/SerializableScopeEvents.kt
  quality/konsist/src/test/kotlin/io/github/kamiazya/scopes/konsist/CqrsNamingConventionTest.kt
  quality/konsist/src/test/kotlin/io/github/kamiazya/scopes/konsist/DomainRichnessTest.kt
  quality/konsist/src/test/kotlin/io/github/kamiazya/scopes/konsist/PackagingConventionTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Reduce duplicate code density by extracting constants and helper methods
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/McpModule.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/context/CreateContextViewHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ErrorMapper.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Replace null assertions with safe error handling
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/aggregate/ScopeAggregate.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/error/ScopeError.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ErrorMapper.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/commands/ListCommand.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/commands/aspect/DefineCommand.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: extract duplicate string literals as constants
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/projection/EventProjectionService.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/repository/SqlDelightScopeAliasRepository.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Add existingContextId parameter to DuplicateContextKey error mapping
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ContextError.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
Due: editorconfig, spotless, detekt, kotlin-test

interfaces/mcp: dedupe + DSL + resource links; tests & DI for tree limits (#258)
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/McpModule.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/context/CreateContextViewHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/error/ContextError.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ErrorMapper.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/resources/handlers/ScopeDetailsResourceHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/resources/handlers/TreeJsonResourceHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/resources/handlers/TreeMarkdownResourceHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/Annotations.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/DefaultErrorMapper.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/McpUriConstants.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/ResourceErrorMessages.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/ResourceHelpers.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/SchemaDsl.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/ToolContextExtensions.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/AliasResolveToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/AliasesAddToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/AliasesRemoveToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/AliasesSetCanonicalCamelToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeChildrenToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeCreateToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeDeleteToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeGetToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeUpdateToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopesListAliasesToolHandler.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopesRootsToolHandler.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/completions/CompletionRegistrarTest.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/schema/InputSchemasSnapshotTest.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/schema/MoreSchemasSnapshotTest.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/schema/ToolSchemasSnapshotTest.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/schema/WriteToolsSchemasSnapshotTest.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/ResourceHelpersTest.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/TestFixtures.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/AliasesSetCanonicalCamelToolHandlerTest.kt
  interfaces/mcp/src/test/kotlin/io/github/kamiazya/scopes/interfaces/mcp/tools/handlers/ScopeCreateToolHandlerTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

feat: Add critical validation based on AI review feedback
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementModule.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/DeleteScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/UpdateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ApplicationErrorMapper.kt
  contexts/scope-management/application/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandlerTest.kt.disabled
  contexts/scope-management/application/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/DeleteScopeHandlerTest.kt
  contexts/scope-management/application/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/UpdateScopeHandlerTest.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/error/ScopeError.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/service/hierarchy/ScopeHierarchyService.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/adapters/ErrorMapper.kt
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/DefaultErrorMapper.kt
  quality/konsist/src/test/kotlin/io/github/kamiazya/scopes/konsist/CqrsNamingConventionTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Resolve test failures by simplifying CreateContextViewUseCaseTest
  contexts/scope-management/application/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/context/CreateContextViewUseCaseTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

test: make empty description validation assertion concrete
  contexts/scope-management/application/src/test/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/context/CreateContextViewUseCaseTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

feat: Implement automated version management with Changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  .github/workflows/version-and-release.yml
  .gitignore
  CLAUDE.md
  docs/guides/development/changeset-workflow.md
  package.json
  pnpm-lock.yaml
Due: editorconfig, spotless

docs: Add comprehensive initial release description to changeset
  .changeset/honest-knives-grow.md
Due: editorconfig, spotless

fix: Incorporate AI review feedback for Changeset implementation
  .github/workflows/release.yml
  .github/workflows/version-and-release.yml
  .gitignore
  docs/guides/development/changeset-workflow.md
  package.json
Due: editorconfig, spotless

fix: Address critical workflow issues from AI review
  .github/workflows/release.yml
  .github/workflows/version-and-release.yml
Due: editorconfig, spotless

feat: Add npm dependency management to Dependabot
  .github/dependabot.yml
Due: editorconfig, spotless

feat: Implement automated version management with Changesets (#260)
  .changeset/README.md
  .changeset/config.json
  .changeset/honest-knives-grow.md
  .github/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/version-and-release.yml
  .gitignore
  CLAUDE.md
  docs/guides/development/changeset-workflow.md
  package.json
  pnpm-lock.yaml
Due: editorconfig, spotless

fix: Centralize version management in gradle/libs.versions.toml
  apps/scopes/build.gradle.kts
  build.gradle.kts
  gradle/libs.versions.toml
Due: editorconfig, spotless

fix: Add attestations:write permission to version-and-release workflow
  .github/workflows/version-and-release.yml
Due: editorconfig, spotless

feat: Implement four architectural improvements for robustness and internationalization
  contexts/event-store/domain/src/main/kotlin/io/github/kamiazya/scopes/eventstore/domain/repository/EventRepository.kt
  contexts/event-store/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/eventstore/infrastructure/repository/SqlDelightEventRepository.kt
  contexts/event-store/infrastructure/src/main/sqldelight/io/github/kamiazya/scopes/eventstore/db/Event.sq
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/CreateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/command/handler/UpdateScopeHandler.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/dto/scope/UpdateScopeResult.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/mapper/ScopeMapper.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/util/InputSanitizer.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/aggregate/ScopeAggregate.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/error/ScopeError.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/projection/EventProjectionService.kt
Due: editorconfig, spotless, detekt, kotlin-test
