Repository kamiazya/scopes: changes, and which lefthook commands are due for each by the changed paths.
All: editorconfig, spotless, detekt, kotlin-test

editorconfig:
  run: "docker run --rm -v \"$(pwd):/workspace\" \\\n  -w /workspace \\\n  mstruebing/editorconfig-checker:latest \\\n  ec --exclude LICENSE --exclude gradle/verification-metadata.xml \\\n  {staged_files} || true\n"
  skip:
  - merge
  - rebase

spotless:
  run: ./gradlew spotlessApply --daemon
  stage_fixed: true
  skip:
  - merge
  - rebase

detekt:
  run: ./gradlew detekt --daemon
  skip:
  - merge
  - rebase

kotlin-test:
  run: ./gradlew test --daemon
  skip:
  - merge
  - rebase

fix: Add continue-on-error to SonarCloud step
  .github/workflows/test.yml
Due: editorconfig, spotless

feat: clarify application-to-contracts import policy and add Konsist test
  README.md
  docs/explanation/clean-architecture.md
  docs/explanation/dependency-rules.md
  quality/konsist/src/test/kotlin/io/github/kamiazya/scopes/konsist/ApplicationContractsImportPolicyTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

chore: add changeset for application-contracts import policy clarification
  .changeset/clarify-application-contracts-imports.md
Due: editorconfig, spotless

fix: remove unnecessary EOF marker from application-to-contracts import policy changeset
  .changeset/clarify-application-contracts-imports.md
Due: editorconfig, spotless

fix: address AI review feedback for consistency and optimization
  docs/explanation/dependency-rules.md
  quality/konsist/src/test/kotlin/io/github/kamiazya/scopes/konsist/ApplicationContractsImportPolicyTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

feat: clarify application-to-contracts import policy and add Konsist test (#273)
  .changeset/clarify-application-contracts-imports.md
  README.md
  docs/explanation/clean-architecture.md
  docs/explanation/dependency-rules.md
  quality/konsist/src/test/kotlin/io/github/kamiazya/scopes/konsist/ApplicationContractsImportPolicyTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: Move coverage-report module to quality directory
  .github/workflows/test.yml
  build.gradle.kts
  quality/coverage-report/build.gradle.kts
  settings.gradle.kts
  sonar-project.properties
Due: editorconfig, spotless

fix: Resolve ktlint code style violations
  build.gradle.kts
Due: editorconfig

fix: Fix SonarCloud coverage integration
  build.gradle.kts
  sonar-project.properties
Due: editorconfig

feat: simplify database migration system for local-first application
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementInfrastructureModule.kt
  apps/scopes/src/main/resources/META-INF/native-image/resource-config.json
  apps/scopes/src/main/resources/META-INF/services/com.github.ajalt.mordant.terminal.TerminalInterfaceProvider
  contexts/device-synchronization/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/devicesync/infrastructure/migration/DeviceSyncMigrationProvider.kt
  contexts/device-synchronization/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/devicesync/infrastructure/sqldelight/SqlDelightDatabaseProvider.kt
  contexts/device-synchronization/infrastructure/src/main/resources/migrations/device-sync/V1__Initial_device_sync_schema.sql
  contexts/event-store/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/eventstore/infrastructure/migration/EventStoreMigrationProvider.kt
  contexts/event-store/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/eventstore/infrastructure/sqldelight/SqlDelightDatabaseProvider.kt
  contexts/event-store/infrastructure/src/main/resources/migrations/event-store/V1__Initial_event_store_schema.sql
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/migration/ScopeManagementMigrationProvider.kt
  contexts/scope-management/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/infrastructure/sqldelight/SqlDelightDatabaseProvider.kt
  contexts/scope-management/infrastructure/src/main/resources/migrations/scope-management/V1__Initial_scope_management_schema.sql
  platform/infrastructure/build.gradle.kts
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/DatabaseIntegration.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/Migration.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/MigrationAwareDatabaseProvider.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/MigrationConfig.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/MigrationDiscovery.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/MigrationError.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/MigrationExecutor.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/MigrationManager.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/SchemaVersionRepository.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/discovery/ResourceMigrationDiscovery.kt
  platform/infrastructure/src/main/sqldelight/io/github/kamiazya/scopes/platform/db/SchemaVersion.sq
  platform/infrastructure/src/test/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/MigrationExecutorTest.kt
  platform/infrastructure/src/test/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/MigrationManagerIntegrationTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: address code quality issues from AI review
  contexts/scope-management/infrastructure/src/main/resources/migrations/scope-management/V1__Initial_scope_management_schema.sql
  package.json
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/Migration.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/database/migration/MigrationAwareDatabaseProvider.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Correct path syntax for SonarQube coverage report configuration
  build.gradle.kts
Due: editorconfig

fix: Update SonarCloud integration for proper coverage reporting
  .github/workflows/test.yml
  build.gradle.kts
Due: editorconfig, spotless

fix: Remove SonarCloud scan from CI workflow
  .github/workflows/test.yml
  build.gradle.kts
Due: editorconfig, spotless

fix: Restore SonarCloud CI-based analysis with proper configuration
  .github/workflows/test.yml
  build.gradle.kts
Due: editorconfig, spotless

feat: Enable CI-based SonarCloud analysis with JaCoCo coverage
  .github/workflows/test.yml
  gradle/libs.versions.toml
Due: editorconfig, spotless

feat: add gRPC infrastructure foundation for CLI-daemon communication
  build.gradle.kts
  gradle/libs.versions.toml
  interfaces/cli-grpc/build.gradle.kts
  interfaces/daemon-grpc/build.gradle.kts
  interfaces/rpc-contracts/build.gradle.kts
  interfaces/rpc-contracts/src/main/proto/scopes/daemon/v1beta/control.proto
  interfaces/rpc-contracts/src/main/proto/scopes/daemon/v1beta/gateway.proto
  package.json
  settings.gradle.kts
Due: editorconfig, spotless

fix: Fix ktlint code style violations
  build.gradle.kts
Due: editorconfig

fix(coverage): Add explicit dependency on processResources tasks
  quality/coverage-report/build.gradle.kts
Due: editorconfig, spotless

fix(coverage): Add explicit dependencies on compilation tasks
  quality/coverage-report/build.gradle.kts
Due: editorconfig, spotless

fix(coverage): Add comprehensive task dependencies with safe checks
  quality/coverage-report/build.gradle.kts
Due: editorconfig, spotless

fix(coverage): Use task type-based dependencies for reliable ordering
  quality/coverage-report/build.gradle.kts
Due: editorconfig, spotless

fix(coverage): Add explicit dependencies on apps-scopes tasks
  quality/coverage-report/build.gradle.kts
Due: editorconfig, spotless

fix(coverage): Use comprehensive project-wide task dependencies
  quality/coverage-report/build.gradle.kts
Due: editorconfig, spotless

fix(sonarqube): Only set test sources if directory exists
  build.gradle.kts
Due: editorconfig

fix(sonarqube): Check both main and test directories existence
  build.gradle.kts
Due: editorconfig

fix(sonarqube): Fix duplicate file indexing and deprecated task name
  .github/workflows/test.yml
  build.gradle.kts
Due: editorconfig, spotless

fix: Address SonarCloud Code Analysis issues
  .github/workflows/release.yml
  build.gradle.kts
  contexts/user-preferences/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/userpreferences/infrastructure/repository/FileBasedUserPreferencesRepository.kt
Due: editorconfig, spotless, detekt, kotlin-test

fix: Properly fix GitHub Actions script injection vulnerability
  .github/workflows/release.yml
Due: editorconfig, spotless

chore: Add Gradle dependency verification metadata
  gradle/verification-metadata.xml
Due: none

fix: Use full SHA hash for slsa-github-generator dependency
  .github/workflows/release.yml
Due: editorconfig, spotless

fix: Remove verification metadata temporarily to fix CI failures
  gradle/verification-metadata.xml
Due: none

fix: Add missing permissions to Security workflow
  .github/workflows/security.yml
Due: editorconfig, spotless

fix: Reduce cognitive complexity in DefaultErrorMapper
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/DefaultErrorMapper.kt
Due: editorconfig, spotless, detekt, kotlin-test

feat: Add Gradle dependency verification metadata
  contexts/user-preferences/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/userpreferences/infrastructure/repository/FileBasedUserPreferencesRepository.kt
  contexts/user-preferences/infrastructure/src/test/kotlin/io/github/kamiazya/scopes/userpreferences/infrastructure/adapters/ErrorMapperTest.kt
  gradle/verification-metadata.xml
  interfaces/mcp/src/main/kotlin/io/github/kamiazya/scopes/interfaces/mcp/support/DefaultErrorMapper.kt
Due: editorconfig, spotless, detekt, kotlin-test

docs: Add changeset for coverage and security enhancements
  .changeset/coverage-security-enhancements.md
  quality/coverage-report/build.gradle.kts
Due: editorconfig, spotless

fix: Update verification metadata for SBOM generation
  gradle/verification-metadata.xml
Due: none

fix: Resolve CI build failures and improve coverage report
  .changeset/coverage-security-enhancements.md
  .gitignore
  quality/coverage-report/build.gradle.kts
Due: editorconfig, spotless

fix: Resolve JaCoCo aggregation plugin task conflict in coverage-report
  quality/coverage-report/build.gradle.kts
Due: editorconfig, spotless

Path conditions:
  editorconfig: any of: *, but not: .claude/.*|tmp/.*|LICENSE|gradle/verification-metadata.xml
  spotless: any of: **/*.{kt,kts,json,yml,yaml,md,sh}
  detekt: any of: **/*.kt
  kotlin-test: any of: **/*.kt
