Repository kamiazya/scopes: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, editorconfig, ktlint, detekt, kotlin-test

markdownlint:
  run: "docker run --rm -v \"$(pwd):/workspace\" \\\n  -w /workspace \\\n  davidanson/markdownlint-cli2:latest \\\n  --config /workspace/.markdownlint.json \\\n  --fix \\\n  --disable MD051 \\\n  {staged_files}\n"
  stage_fixed: true
  skip:
  - merge
  - rebase

editorconfig:
  run: "docker run --rm -v \"$(pwd):/workspace\" \\\n  -w /workspace \\\n  mstruebing/editorconfig-checker:latest \\\n  ec \\\n  {staged_files}\n"
  skip:
  - merge
  - rebase

ktlint:
  run: ./gradlew ktlintFormat --daemon
  stage_fixed: true
  skip:
  - merge
  - rebase

detekt:
  run: ./gradlew detekt --daemon
  skip:
  - merge
  - rebase

kotlin-test:
  run: ./gradlew test --daemon
  skip:
  - merge
  - rebase

Fix pre-commit hooks for seamless auto-formatting
  .markdownlint.json
  lefthook.yml
  scripts/format-all.sh
Due: editorconfig

Complete auto-formatting setup and fix documentation formatting
  .github/workflows/claude.yml
  docs/explanation/adr/0006-adopt-diataxis-documentation-framework.md
  docs/guides/architecture-implementation.md
  docs/guides/coding-standards.md
  docs/guides/development-guidelines.md
  docs/reference/cli-quick-reference.md
Due: markdownlint, editorconfig

Implement comprehensive test suite for functional DDD architecture
  application/build.gradle.kts
  application/src/test/kotlin/com/kamiazya/scopes/application/usecase/CreateScopeUseCaseTest.kt
  domain/src/main/kotlin/com/kamiazya/scopes/domain/entity/Scope.kt
  domain/src/test/kotlin/com/kamiazya/scopes/domain/entity/ScopeTest.kt
  domain/src/test/kotlin/com/kamiazya/scopes/domain/service/ScopeValidationServiceTest.kt
  gradle/libs.versions.toml
  infrastructure/build.gradle.kts
  infrastructure/src/test/kotlin/com/kamiazya/scopes/infrastructure/repository/InMemoryScopeRepositoryTest.kt
  presentation-cli/build.gradle.kts
  presentation-cli/src/test/kotlin/com/kamiazya/scopes/presentation/cli/commands/CreateCommandTest.kt
Due: editorconfig, ktlint, detekt, kotlin-test

Restrict CI workflow to only trigger on main branch pushes
  .github/workflows/ci.yml
Due: editorconfig

refactor: migrate package namespace from com.kamiazya to io.github.kamiazya
  application/src/main/kotlin/com/kamiazya/scopes/application/error/ApplicationError.kt
  application/src/main/kotlin/com/kamiazya/scopes/application/service/ScopeService.kt
  application/src/main/kotlin/com/kamiazya/scopes/application/usecase/CreateScopeUseCase.kt
  application/src/main/kotlin/io/github/kamiazya/scopes/application/error/ApplicationError.kt
  application/src/main/kotlin/io/github/kamiazya/scopes/application/usecase/CreateScopeUseCase.kt
  application/src/test/kotlin/com/kamiazya/scopes/application/usecase/CreateScopeUseCaseTest.kt
  application/src/test/kotlin/io/github/kamiazya/scopes/application/usecase/CreateScopeUseCaseTest.kt
  domain/src/main/kotlin/com/kamiazya/scopes/domain/entity/Scope.kt
  domain/src/main/kotlin/com/kamiazya/scopes/domain/entity/ScopeId.kt
  domain/src/main/kotlin/com/kamiazya/scopes/domain/error/DomainError.kt
  domain/src/main/kotlin/com/kamiazya/scopes/domain/error/RepositoryError.kt
  domain/src/main/kotlin/com/kamiazya/scopes/domain/repository/ScopeRepository.kt
  domain/src/main/kotlin/com/kamiazya/scopes/domain/service/ScopeValidationService.kt
  domain/src/main/kotlin/io/github/kamiazya/scopes/domain/entity/Scope.kt
  domain/src/main/kotlin/io/github/kamiazya/scopes/domain/error/DomainError.kt
  domain/src/main/kotlin/io/github/kamiazya/scopes/domain/error/RepositoryError.kt
  domain/src/main/kotlin/io/github/kamiazya/scopes/domain/repository/ScopeRepository.kt
  domain/src/main/kotlin/io/github/kamiazya/scopes/domain/service/ScopeValidationService.kt
  domain/src/main/kotlin/io/github/kamiazya/scopes/domain/valueobject/ScopeId.kt
  domain/src/test/kotlin/com/kamiazya/scopes/domain/entity/ScopeTest.kt
  domain/src/test/kotlin/com/kamiazya/scopes/domain/service/ScopeValidationServiceTest.kt
  domain/src/test/kotlin/io/github/kamiazya/scopes/domain/entity/ScopeTest.kt
  domain/src/test/kotlin/io/github/kamiazya/scopes/domain/service/ScopeValidationServiceTest.kt
  infrastructure/src/main/kotlin/com/kamiazya/scopes/infrastructure/repository/InMemoryScopeRepository.kt
  infrastructure/src/main/kotlin/io/github/kamiazya/scopes/infrastructure/repository/InMemoryScopeRepository.kt
  infrastructure/src/test/kotlin/com/kamiazya/scopes/infrastructure/repository/InMemoryScopeRepositoryTest.kt
  infrastructure/src/test/kotlin/io/github/kamiazya/scopes/infrastructure/repository/InMemoryScopeRepositoryTest.kt
  presentation-cli/src/main/kotlin/com/kamiazya/scopes/presentation/cli/Main.kt
  presentation-cli/src/main/kotlin/com/kamiazya/scopes/presentation/cli/ScopesCommand.kt
  presentation-cli/src/main/kotlin/com/kamiazya/scopes/presentation/cli/commands/CreateCommand.kt
  presentation-cli/src/main/kotlin/com/kamiazya/scopes/presentation/cli/commands/ListCommand.kt
  presentation-cli/src/main/kotlin/io/github/kamiazya/scopes/presentation/cli/Main.kt
  presentation-cli/src/main/kotlin/io/github/kamiazya/scopes/presentation/cli/ScopesCommand.kt
  presentation-cli/src/main/kotlin/io/github/kamiazya/scopes/presentation/cli/commands/CreateCommand.kt
  presentation-cli/src/main/kotlin/io/github/kamiazya/scopes/presentation/cli/utils/ErrorFormatter.kt
  presentation-cli/src/test/kotlin/com/kamiazya/scopes/presentation/cli/commands/CreateCommandTest.kt
Due: editorconfig, ktlint, detekt, kotlin-test

ci: update GitHub Actions workflows and add Dependabot configuration
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
Due: editorconfig

docs: update documentation with functional DDD patterns and formatting fixes
  .markdownlint.json
  TODO.md
  docs/explanation/adr/0004-diagrams-first-documentation.md
  docs/explanation/adr/0005-cli-first-interface-architecture.md
  docs/explanation/adr/0006-adopt-diataxis-documentation-framework.md
  docs/explanation/adr/0008-clean-architecture-adoption.md
  docs/explanation/adr/0011-functional-ddd-adoption.md
  docs/explanation/adr/README.md
  docs/explanation/domain-overview.md
  docs/explanation/requirements/README.md
  docs/explanation/requirements/TEMPLATE.md
  docs/explanation/user-stories/0001-first-time-installation-and-setup.md
  docs/explanation/user-stories/0002-create-first-scope-hierarchy.md
  docs/explanation/user-stories/0003-aspect-based-scope-classification.md
  docs/explanation/user-stories/0004-personal-context-switching.md
  docs/explanation/user-stories/0005-focus-management.md
  docs/explanation/user-stories/0006-scope-alias-system.md
  docs/explanation/user-stories/TEMPLATE.md
  docs/guides/architecture-implementation.md
  docs/guides/coding-standards.md
  docs/guides/development-guidelines.md
  docs/guides/graalvm-setup.md
  docs/reference/cli-quick-reference.md
Due: markdownlint, editorconfig

build: enhance build configuration with functional DDD support
  .mcp.json
  build.gradle.kts
  detekt.yml
  domain/build.gradle.kts
  gradle/libs.versions.toml
  scripts/format-all.sh
Due: editorconfig

chore: update Claude agent configurations
  .claude/agents/business-driven-architect.md
  .claude/agents/doc-driven-architect.md
  .claude/agents/expert-qa-engineer.md
  .claude/agents/marketing-product-owner.md
  .claude/agents/strategic-project-planner.md
  .claude/agents/tdd-master-developer.md
Due: none

Create scorecard.yml
  .github/workflows/scorecard.yml
Due: editorconfig

Create scorecard.yml (#4)
  .github/workflows/scorecard.yml
Due: editorconfig

fix: resolve all markdown linting issues for CI
  .claude/agents/business-driven-architect.md
  .claude/agents/doc-driven-architect.md
  .claude/agents/expert-qa-engineer.md
  .claude/agents/marketing-product-owner.md
  .claude/agents/strategic-project-planner.md
  .claude/agents/tdd-master-developer.md
  TODO.md
  docs/explanation/adr/0006-adopt-diataxis-documentation-framework.md
  docs/explanation/adr/0011-functional-ddd-adoption.md
  docs/explanation/adr/README.md
  docs/explanation/domain-overview.md
  docs/explanation/user-stories/0005-focus-management.md
  docs/explanation/user-stories/0006-scope-alias-system.md
  docs/guides/architecture-implementation.md
  docs/guides/coding-standards.md
  docs/guides/development-guidelines.md
  docs/reference/cli-quick-reference.md
Due: markdownlint, editorconfig

fix: convert indented code blocks to fenced in graalvm-setup.md
  docs/guides/graalvm-setup.md
Due: markdownlint, editorconfig

fix: remove markdownlint and resolve EditorConfig issues
  .github/workflows/ci.yml
  .markdownlint.json
  docs/explanation/adr/README.md
  docs/guides/development-guidelines.md
  infrastructure/src/test/kotlin/io/github/kamiazya/scopes/infrastructure/repository/InMemoryScopeRepositoryTest.kt
  lefthook.yml
Due: markdownlint, editorconfig, ktlint, detekt, kotlin-test

fix: resolve all remaining EditorConfig indentation issues in ADR files
  docs/explanation/adr/0003-adopt-industry-standards.md
  docs/explanation/adr/0004-diagrams-first-documentation.md
  docs/explanation/adr/0005-cli-first-interface-architecture.md
  docs/explanation/adr/0007-domain-driven-design-adoption.md
  docs/explanation/adr/0008-clean-architecture-adoption.md
  docs/explanation/adr/0009-adopt-apache-license-2.0.md
  docs/explanation/adr/0010-adopt-ulid-for-distributed-identifiers.md
Due: markdownlint, editorconfig

fix: exclude LICENSE file from EditorConfig checks
  .editorconfig
  .github/workflows/ci.yml
  lefthook.yml
Due: editorconfig

ci: remove EditorConfig check from CI workflow
  .github/workflows/ci.yml
Due: editorconfig

ci: fix gradlew execution permissions in CI
  .github/workflows/ci.yml
Due: editorconfig

ci: add gradle version check for debugging
  .github/workflows/ci.yml
Due: editorconfig

ci: add gradle wrapper jar for build consistency
  gradle/wrapper/gradle-wrapper.jar
Due: editorconfig

fix: update main class reference for native image build
  presentation-cli/build.gradle.kts
Due: editorconfig

refactor: remove DatabaseError from domain layer to maintain Clean Architecture
  domain/src/main/kotlin/io/github/kamiazya/scopes/domain/error/DomainError.kt
  domain/src/main/kotlin/io/github/kamiazya/scopes/domain/error/RepositoryError.kt
  domain/src/main/kotlin/io/github/kamiazya/scopes/domain/service/ScopeValidationService.kt
Due: editorconfig, ktlint, detekt, kotlin-test

fix: remove trailing whitespace from domain service
  domain/src/main/kotlin/io/github/kamiazya/scopes/domain/service/ScopeValidationService.kt
Due: editorconfig, ktlint, detekt, kotlin-test

fix: update calculateDepth to match domain service behavior
  infrastructure/src/main/kotlin/io/github/kamiazya/scopes/infrastructure/repository/InMemoryScopeRepository.kt
  infrastructure/src/test/kotlin/io/github/kamiazya/scopes/infrastructure/repository/InMemoryScopeRepositoryTest.kt
Due: editorconfig, ktlint, detekt, kotlin-test

feat: implement Koin dependency injection and fix Arrow Either consistency
  .github/workflows/ci.yml
  docs/guides/architecture-implementation.md
  gradle/libs.versions.toml
  presentation-cli/build.gradle.kts
  presentation-cli/src/main/kotlin/io/github/kamiazya/scopes/presentation/cli/Main.kt
  presentation-cli/src/main/kotlin/io/github/kamiazya/scopes/presentation/cli/ScopesCommand.kt
  presentation-cli/src/main/kotlin/io/github/kamiazya/scopes/presentation/cli/di/CliModule.kt
Due: markdownlint, editorconfig, ktlint, detekt, kotlin-test

Add comprehensive security documentation
  SECURITY.md
  docs/guides/build-security-verification.md
  docs/guides/sbom-verification.md
  docs/guides/security-verification.md
Due: markdownlint, editorconfig

Replace OWASP Dependency Check with GitHub native features
  .github/workflows/dependency-review.yml
  .github/workflows/security-check.yml
  build.gradle.kts
  docs/guides/dependency-security.md
Due: markdownlint, editorconfig

Implement optimized CI/CD workflow architecture
  .github/workflows/build.yml
  .github/workflows/code-quality.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: editorconfig

Update build configuration and Gradle wrapper security
  gradle/wrapper/gradle-wrapper.properties
  presentation-cli/build.gradle.kts
Due: editorconfig

Update project configuration and clean up
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/dependency-check-weekly.yml
  .github/workflows/quarterly-suppression-audit.yml
  .github/workflows/scorecard.yml
  .github/workflows/suppression-review.yml
  README.md
Due: markdownlint, editorconfig

Fix GitHub Actions permissions and SBOM artifact paths
  .github/workflows/ci.yml
  .github/workflows/security-check.yml
Due: editorconfig

Fix dependency-review-action hash with pinact
  .github/workflows/dependency-review.yml
Due: editorconfig

Remove CI workflow configuration from GitHub Actions
  .github/workflows/ci.yml
Due: editorconfig

Fix build configuration and cross-platform compatibility
  .github/workflows/release.yml
  build.gradle.kts
  detekt.yml
  gradle.properties
Due: editorconfig

Fix GitHub Actions CI failures
  .github/workflows/build.yml
  .github/workflows/dependency-review.yml
  .github/workflows/security-check.yml
  build.gradle.kts
Due: editorconfig

Fix linting issues in build configuration
  .github/workflows/build.yml
  .github/workflows/dependency-review.yml
  build.gradle.kts
Due: editorconfig

Fix Windows GraalVM native compilation
  presentation-cli/build.gradle.kts
Due: editorconfig

Fix trailing whitespace in presentation-cli build.gradle.kts
  presentation-cli/build.gradle.kts
Due: editorconfig

Path conditions:
  markdownlint: any of: *.md, but not: .claude/.*|tmp/.*
  editorconfig: any of: *, but not: .claude/.*
  ktlint: any of: *.kt
  detekt: any of: *.kt
  kotlin-test: any of: *.kt
