Repository kamiazya/scopes: changes, and which lefthook commands are due for each by the changed paths.
All: editorconfig, spotless, detekt, kotlin-test

editorconfig:
  run: "docker run --rm -v \"$(pwd):/workspace\" \\\n  -w /workspace \\\n  mstruebing/editorconfig-checker:latest \\\n  ec --exclude LICENSE --exclude gradle/verification-metadata.xml \\\n  {staged_files} || true\n"
  skip:
  - merge
  - rebase

spotless:
  run: ./gradlew spotlessApply --daemon
  stage_fixed: true
  skip:
  - merge
  - rebase

detekt:
  run: ./gradlew detekt --daemon
  skip:
  - merge
  - rebase

kotlin-test:
  run: ./gradlew test --daemon
  skip:
  - merge
  - rebase

fix: resolve release workflow failure after version PR regression (#285)
  .changeset/fix-release-workflow-heredoc-syntax.md
  .github/workflows/release.yml
Due: editorconfig, spotless

feat: improve gRPC configuration for native-to-native compatibility
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/transport/TransportFactory.kt
  interfaces/grpc-client-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/grpc/GrpcClient.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/grpc/ChannelBuilder.kt
Due: editorconfig, spotless, detekt, kotlin-test

Bump GraalVM build tools native dependency to 0.11.1
  .changeset/rare-shoes-clean.md
Due: editorconfig, spotless

feat: implement Unix Domain Socket (UDS) support for gRPC transport
  interfaces/grpc-client-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/grpc/GrpcClient.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/grpc/ChannelBuilder.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/grpc/EndpointResolver.kt
Due: editorconfig, spotless, detekt, kotlin-test

feat: implement Unix Domain Socket (UDS) support for gRPC transport
  apps/scopesd/src/main/kotlin/io/github/kamiazya/scopes/apps/daemon/DaemonApplication.kt
  apps/scopesd/src/main/kotlin/io/github/kamiazya/scopes/apps/daemon/Main.kt
  interfaces/grpc-server-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/daemon/GrpcServer.kt
  interfaces/grpc-server-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/daemon/GrpcServerFactory.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/grpc/ChannelBuilder.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: remove Unix Domain Socket implementation and focus on TCP sockets
  apps/scopes/src/main/resources/META-INF/native-image/io.grpc.netty.shaded/netty-fix/jni-config.json
  apps/scopes/src/main/resources/META-INF/native-image/io.grpc.netty.shaded/netty-fix/native-image.properties
  apps/scopes/src/main/resources/META-INF/native-image/io.grpc.netty.shaded/netty-fix/reflect-config.json
  apps/scopesd/src/main/kotlin/io/github/kamiazya/scopes/apps/daemon/DaemonApplication.kt
  apps/scopesd/src/main/kotlin/io/github/kamiazya/scopes/apps/daemon/Main.kt
  docs/explanation/cli-daemon-grpc.md
  docs/explanation/grpc-error-handling-policy.md
  docs/explanation/unix-domain-socket-limitations.md
  interfaces/grpc-client-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/grpc/GatewayClient.kt
  interfaces/grpc-client-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/grpc/GrpcClient.kt
  interfaces/grpc-server-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/daemon/GrpcServer.kt
  interfaces/grpc-server-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/daemon/GrpcServerFactory.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/grpc/ChannelBuilder.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/grpc/EndpointResolver.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/grpc/RetryPolicy.kt
  platform/infrastructure/src/test/kotlin/io/github/kamiazya/scopes/platform/infrastructure/grpc/RetryPolicyTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

Revert "Release new version (#287)"
  .changeset/fix-github-actions-release.md
  .changeset/fix-release-workflow-heredoc-syntax.md
  .changeset/platform-bundle-packages.md
  CHANGELOG.md
  package.json
Due: editorconfig, spotless

Revert "Release new version (#287)" (#292)
  .changeset/fix-github-actions-release.md
  .changeset/fix-release-workflow-heredoc-syntax.md
  .changeset/platform-bundle-packages.md
  CHANGELOG.md
  package.json
Due: editorconfig, spotless

refactor: remove GraalVM Native Image support in favor of JAR distribution
  apps/scopes/build.gradle.kts
  apps/scopes/src/main/resources/META-INF/native-image/io.grpc.netty.shaded/netty-fix/jni-config.json
  apps/scopes/src/main/resources/META-INF/native-image/io.grpc.netty.shaded/netty-fix/native-image.properties
  apps/scopes/src/main/resources/META-INF/native-image/io.grpc.netty.shaded/netty-fix/reflect-config.json
  apps/scopes/src/main/resources/META-INF/native-image/jni-config.json
  apps/scopes/src/main/resources/META-INF/native-image/native-image.properties
  apps/scopes/src/main/resources/META-INF/native-image/proxy-config.json
  apps/scopes/src/main/resources/META-INF/native-image/reflect-config.json
  apps/scopes/src/main/resources/META-INF/native-image/reflect-config.json.bak
  apps/scopes/src/main/resources/META-INF/native-image/resource-config.json
  apps/scopes/src/main/resources/META-INF/native-image/serialization-config.json
  apps/scopesd/build.gradle.kts
  apps/scopesd/src/main/resources/META-INF/native-image/jni-config.json
  apps/scopesd/src/main/resources/META-INF/native-image/native-image.properties
  apps/scopesd/src/main/resources/META-INF/native-image/reflect-config.json
  apps/scopesd/src/main/resources/META-INF/native-image/resource-config.json
  build.gradle.kts
  scopes
  scopesd
Due: editorconfig, spotless

docs: update documentation to reflect Java runtime requirement
  README.md
  docs/explanation/setup/graalvm-setup.md
  docs/tutorials/getting-started.md
Due: editorconfig, spotless

docs: add ADR-0017 for Java runtime distribution decision
  docs/explanation/adr/0017-java-runtime-distribution.md
  docs/explanation/adr/README.md
Due: editorconfig, spotless

fix: apply spotless formatting to package.json
  package.json
Due: editorconfig

docs: add changeset for GraalVM removal and Java runtime migration
  .changeset/remove-graalvm-java-runtime.md
Due: editorconfig, spotless

style: apply automatic code formatting
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/ScopesCliApplication.kt
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/CliAppModule.kt
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/platform/PlatformModule.kt
  apps/scopesd/src/main/kotlin/io/github/kamiazya/scopes/apps/daemon/DaemonApplication.kt
  apps/scopesd/src/main/kotlin/io/github/kamiazya/scopes/apps/daemon/Main.kt
  apps/scopesd/src/main/kotlin/io/github/kamiazya/scopes/apps/daemon/di/DaemonModule.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/grpc/GrpcAliasQueryAdapter.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/grpc/GrpcAspectQueryAdapter.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/grpc/GrpcContextQueryAdapter.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/adapters/grpc/GrpcScopeQueryAdapter.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/resolvers/grpc/GrpcScopeParameterResolver.kt
  interfaces/cli/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/transport/GrpcTransport.kt
  interfaces/grpc-client-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/grpc/GatewayClient.kt
  interfaces/grpc-client-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/cli/grpc/GrpcClient.kt
  interfaces/grpc-client-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/grpc/client/daemon/di/GrpcClientModule.kt
  interfaces/grpc-server-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/daemon/GrpcServer.kt
  interfaces/grpc-server-daemon/src/main/kotlin/io/github/kamiazya/scopes/interfaces/daemon/GrpcServerFactory.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/grpc/ChannelBuilder.kt
  platform/infrastructure/src/main/kotlin/io/github/kamiazya/scopes/platform/infrastructure/grpc/RetryPolicy.kt
  platform/infrastructure/src/test/kotlin/io/github/kamiazya/scopes/platform/infrastructure/grpc/RetryPolicyTest.kt
  quality/e2e-tests/framework.disabled/BinaryManager.kt
  quality/e2e-tests/framework.disabled/CliRunner.kt
  quality/e2e-tests/framework.disabled/DaemonController.kt
  quality/e2e-tests/framework.disabled/E2ETestBase.kt
  quality/e2e-tests/framework.disabled/PlatformUtils.kt
  quality/e2e-tests/src/test/kotlin/io/github/kamiazya/scopes/e2e/tests/AdvancedQueryTest.kt
  quality/e2e-tests/src/test/kotlin/io/github/kamiazya/scopes/e2e/tests/AliasManagementTest.kt
  quality/e2e-tests/src/test/kotlin/io/github/kamiazya/scopes/e2e/tests/AspectManagementTest.kt
  quality/e2e-tests/src/test/kotlin/io/github/kamiazya/scopes/e2e/tests/BasicNativeTest.kt
  quality/e2e-tests/src/test/kotlin/io/github/kamiazya/scopes/e2e/tests/CliIntegrationTest.kt
  quality/e2e-tests/src/test/kotlin/io/github/kamiazya/scopes/e2e/tests/ContextViewTest.kt
  quality/e2e-tests/src/test/kotlin/io/github/kamiazya/scopes/e2e/tests/FailureScenarioTest.kt
  quality/e2e-tests/src/test/kotlin/io/github/kamiazya/scopes/e2e/tests/MinimalNativeTest.kt
  quality/e2e-tests/src/test/kotlin/io/github/kamiazya/scopes/e2e/tests/PlatformSpecificTest.kt
  quality/e2e-tests/src/test/kotlin/io/github/kamiazya/scopes/e2e/tests/ScopeLifecycleTest.kt
Due: editorconfig, spotless, detekt, kotlin-test

Create small-islands-wave.md
  .changeset/small-islands-wave.md
Due: editorconfig, spotless

feat(domain): migrate ScopeAggregate to jMolecules AggregateRoot
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/aggregate/ScopeAggregate.kt
Due: editorconfig, spotless, detekt, kotlin-test

feat(domain): migrate Scope entity to jMolecules Entity
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/aggregate/ScopeAggregate.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/entity/Scope.kt
Due: editorconfig, spotless, detekt, kotlin-test

refactor: remove redundant jMolecules comments and improve ID extraction
  contexts/device-synchronization/domain/src/main/kotlin/io/github/kamiazya/scopes/devicesync/domain/entity/SyncConflict.kt
  contexts/device-synchronization/domain/src/main/kotlin/io/github/kamiazya/scopes/devicesync/domain/entity/SyncState.kt
  contexts/device-synchronization/domain/src/main/kotlin/io/github/kamiazya/scopes/devicesync/domain/valueobject/DeviceId.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/aggregate/ScopeAggregate.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/aggregate/ScopeAlias.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/entity/AspectDefinition.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/entity/ContextView.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/entity/Scope.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/repository/ScopeRepository.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/AliasId.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/AspectKey.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/ContextViewId.kt
  contexts/scope-management/domain/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/domain/valueobject/ScopeId.kt
  platform/domain-commons/src/main/kotlin/io/github/kamiazya/scopes/platform/domain/aggregate/AggregateRoot.kt
  platform/domain-commons/src/main/kotlin/io/github/kamiazya/scopes/platform/domain/event/DomainEvent.kt
  platform/domain-commons/src/main/kotlin/io/github/kamiazya/scopes/platform/domain/value/AggregateId.kt
Due: editorconfig, spotless, detekt, kotlin-test

feat: add pre-commit hooks for shellcheck, yamlint and shfmt
  .changeset/fix-release-workflow-heredoc-syntax.md
  .changeset/platform-bundle-packages.md
  lefthook.yml
  package.json
  scripts/database-maintenance.sh
Due: editorconfig, spotless

Add pre-commit hooks for shellcheck, yamlint, and shfmt
  .changeset/thirty-boats-watch.md
Due: editorconfig, spotless

fix(logging): Implement structured logging for audit events
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementModule.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/service/ActiveContextService.kt
Due: editorconfig, spotless, detekt, kotlin-test

Update apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementModule.kt
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementModule.kt
Due: editorconfig, spotless, detekt, kotlin-test

chore: add pre-commit hooks for shellcheck, yamlint and shfmt (#301)
  .changeset/fix-release-workflow-heredoc-syntax.md
  .changeset/platform-bundle-packages.md
  .changeset/thirty-boats-watch.md
  lefthook.yml
  package.json
  scripts/database-maintenance.sh
Due: editorconfig, spotless

docs: migrate from GraalVM Native Image to JAR distribution
  .changeset/jar-distribution-docs-update.md
  .github/ISSUE_TEMPLATE/graalvm-config-cache-issue.md
  .github/workflows/build.yml
  .github/workflows/release.yml
  SECURITY.md
  apps/scopes/build.gradle.kts
  apps/scopes/src/main/resources/META-INF/native-image/jni-config.json
  apps/scopes/src/main/resources/META-INF/native-image/native-image.properties
  apps/scopes/src/main/resources/META-INF/native-image/reflect-config.json
  apps/scopes/src/main/resources/META-INF/native-image/resource-config.json
  apps/scopes/src/main/resources/logback-native.xml
  bin/scopes
  bin/scopes.bat
  bin/scopes.ps1
  build.gradle.kts
  docs/explanation/adr/0017-jvm-jar-distribution-strategy.md
  docs/explanation/adr/README.md
  docs/explanation/automated-release-process.md
  docs/explanation/security/README.md
  docs/explanation/security/sbom-verification.md
  docs/explanation/security/security-verification.md
  docs/explanation/setup/README.md
  docs/explanation/setup/graalvm-setup.md
  docs/explanation/setup/java-setup.md
  docs/explanation/user-stories/0007-secure-manual-installation.md
  docs/reference/jni-config.md
  docs/tutorials/getting-started.md
  gradle/libs.versions.toml
  install/README.md
  install/install.ps1
  install/install.sh
  install/offline/README.md
  install/offline/install.sh
  install/verify-README.md
Due: editorconfig, spotless

chore: prevent Gradle cache files from causing spotless lint errors
  .gitignore
  build.gradle.kts
  scripts/clean-gradle-cache.sh
Due: editorconfig, spotless

fix: address AI review feedback for JAR distribution
  bin/scopes
  bin/scopes.bat
  bin/scopes.ps1
  docs/explanation/adr/0017-jvm-jar-distribution-strategy.md
  docs/explanation/security/sbom-verification.md
  docs/reference/jni-config.md
  docs/tutorials/getting-started.md
  install/install.ps1
  install/install.sh
Due: editorconfig, spotless

docs: remove obsolete jni-config.md
  docs/reference/jni-config.md
Due: editorconfig, spotless

fix: remove obsolete GraalVM Native Image feature file
  apps/scopes/src/main/java/org/sqlite/nativeimage/SqliteJdbcFeature.java
Due: editorconfig

feat: migrate from GraalVM Native Image to JAR distribution (#309)
  .changeset/jar-distribution-docs-update.md
  .github/ISSUE_TEMPLATE/graalvm-config-cache-issue.md
  .github/workflows/build.yml
  .github/workflows/release.yml
  .gitignore
  SECURITY.md
  apps/scopes/build.gradle.kts
  apps/scopes/src/main/java/org/sqlite/nativeimage/SqliteJdbcFeature.java
  apps/scopes/src/main/resources/META-INF/native-image/jni-config.json
  apps/scopes/src/main/resources/META-INF/native-image/native-image.properties
  apps/scopes/src/main/resources/META-INF/native-image/reflect-config.json
  apps/scopes/src/main/resources/META-INF/native-image/resource-config.json
  apps/scopes/src/main/resources/logback-native.xml
  bin/scopes
  bin/scopes.bat
  bin/scopes.ps1
  build.gradle.kts
  docs/explanation/adr/0017-jvm-jar-distribution-strategy.md
  docs/explanation/adr/README.md
  docs/explanation/automated-release-process.md
  docs/explanation/security/README.md
  docs/explanation/security/sbom-verification.md
  docs/explanation/security/security-verification.md
  docs/explanation/setup/README.md
  docs/explanation/setup/graalvm-setup.md
  docs/explanation/setup/java-setup.md
  docs/explanation/user-stories/0007-secure-manual-installation.md
  docs/reference/jni-config.md
  docs/tutorials/getting-started.md
  gradle/libs.versions.toml
  install/README.md
  install/install.ps1
  install/install.sh
  install/offline/README.md
  install/offline/install.sh
  install/verify-README.md
  scripts/clean-gradle-cache.sh
Due: editorconfig, spotless

fix(logging): Implement structured logging for audit events (#303)
  apps/scopes/src/main/kotlin/io/github/kamiazya/scopes/apps/cli/di/scopemanagement/ScopeManagementModule.kt
  contexts/scope-management/application/src/main/kotlin/io/github/kamiazya/scopes/scopemanagement/application/service/ActiveContextService.kt
Due: editorconfig, spotless, detekt, kotlin-test

Path conditions:
  editorconfig: any of: *, but not: .claude/.*|tmp/.*|LICENSE|gradle/verification-metadata.xml
  spotless: any of: **/*.{kt,kts,json,yml,yaml,md,sh}
  detekt: any of: **/*.kt
  kotlin-test: any of: **/*.kt
